@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;

  --color-charcoal: #232323;
  --color-white: #FFFFFF;
  --color-silver: #8D8D8D;
  --color-light-gray: #E5E5E5;
  --color-gray: #F7F7F7;
  --color-dark-blue: #1B2543;
  --color-black: #000000; /* Black color with 100% opacity */
  --color-black-transparent: rgba(0, 0, 0, 0.2); /* Black color (000000) with 20% opacity */
  --color-linear-gradient: transparent; /* Placeholder: "Linear" represents a CSS gradient, not a solid color. */
  --color-dark-gray: #282828;
  --color-yellow: #F6C010;
  --color-orange-hover: #F97316;

  --breakpoint-lg2: 71.9375rem;
}

:root {
  @apply text-base font-inter text-charcoal bg-white;
}

::selection {
  @apply bg-yellow text-charcoal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-light-gray;
}

::-webkit-scrollbar-thumb {
  @apply bg-yellow;
  border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-orange-hover ; 
}